@import "../../../node_modules/tippy.js/dist/tippy";

.tippy-box[data-theme~="app_default"] {
  padding: 20px;
  background: #fff; 
  border-radius: 7px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  font-size: 12px;
  color: #727271;

  .tippy-content {
    padding: 0;
    text-align: center;
  }
}