// color
body {
  --green: #2da110;
  --global-bg: #000;
  --global-color: #c7c7c7;
  --black-color: #15181a;
}

// shadow
body {
  --global-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
}

// radius
body {
  --radius-base: 8px;
}
